/*Record Page*/
#record-audio-page{
    display: block;
}

.title{
    text-align: center;
}

.text{
    text-align: center;
}

#buttons{
    display: flex;
    margin: 0 5px;
    justify-content: center;
}

#audio-player-flex{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Erro Page*/
#microphone-error-page{
    display: none;
}